<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306902251314-dccjilaclf6rq8f6agk3g00kbtv0fqs0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306902251314-dccjilaclf6rq8f6agk3g00kbtv0fqs0</string>
	<key>API_KEY</key>
	<string>AIzaSyBNqpfiq2LBJsDN0GJCW8iaJNEOgFeb8ic</string>
	<key>GCM_SENDER_ID</key>
	<string>306902251314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testpubnub</string>
	<key>PROJECT_ID</key>
	<string>testchatpubnub</string>
	<key>STORAGE_BUCKET</key>
	<string>testchatpubnub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306902251314:ios:868aa9869d10709234492b</string>
</dict>
</plist>